<footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
    </div>Copyright &copy; 2019 <a href="www.niharinfo.com/" target="_blank">Shepherd's </a>. All Rights Reserved
  </footer>
