<!-- <header class="main-header">

    <a href="/NiharDashboard" class="logo">

      <span class="logo-mini">ND</span>

      <span class="logo-lg"><b>Nihar </b>Dashboard</span>
    </a>

    <nav class="navbar navbar-static-top">

      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">


          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="Public3/images/user2-160x160.jpg" class="user-image rounded-circle" alt="User Image">
            </a>
            <ul class="dropdown-menu scale-up">

              <li class="user-header">
                <img src="Public3/images/user2-160x160.jpg" class="float-left rounded-circle" alt="User Image">

                <p>
                  Nihar Admin
                  <small class="mb-5">niharecnter@niharinfo.com</small>
                  <a href="#" class="btn btn-danger btn-sm">View Profile</a>
                </p>
              </li>

              <li style="color:#fff;">
                Member since at Nov 2017
              </li>

              <li class="user-footer">
                <div class="pull-left">

                  <a href="#" class="btn btn-block btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-vcard"></i> Update Profile</a>
                </div>
                <div class="pull-right">
                  <a href="/index" class="btn btn-block btn-danger"><i class="ion ion-power"></i> Sign Out</a>
                </div>
              </li>
            </ul>
          </li>


        </ul>
      </div>
    </nav>
  </header>

  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Update Profile</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <form role="form" class="form-element">
          <div class="box-body">
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputUser" placeholder="User Name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputMobile" placeholder="Mobile Number">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputFile">Change photo</label>
              <input type="file" id="exampleInputFile">
            </div>
          </div>

        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Save Details</button>
        </div>
      </div>

    </div>

  </div>


  <html>-->
  <header class="main-header">
      <!-- Logo -->
      <a href="/Nihardashboard" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">SP</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Shepherd's </b>Dashboard</span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
  		  <!-- User Account: style can be found in dropdown.less -->
            <!-- <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="Public3/images/wallet-icon.png" class="user-image" alt="User Image"><span class="text-green"> $16,00</span>
              </a>
            </li> -->

            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="Public3/images/user2-160x160.jpg" class="user-image rounded-circle" alt="User Image">
              </a>
              <ul class="dropdown-menu scale-up">
                <!-- User image -->
                <li class="user-header">
                  <img src="Public3/images/user2-160x160.jpg" class="float-left rounded-circle" alt="User Image">

                  <p><span id="Name">Shepherd's</span>

                    <small class="mb-5"><span id="Email">.....................................................................................</span></small>
                      <!-- <a href="#" class="btn btn-block btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-vcard"></i> Update Profile</a> -->
                  </p>
                </li>
                <!-- Menu Body -->
                <li style="color:#fff;">
                  <span id="SinceAt"></span>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <!-- <div class="pull-left">

                    <a href="#" class="btn btn-block btn-primary" data-toggle="modal" data-target="#myModal1"><i class="fa fa-vcard"></i> Change Password</a>
                  </div> -->
                  <div class="pull-right">
                    <a href="/Admin" class="btn btn-block btn-danger"><i class="ion ion-power"></i> Sign Out</a>
                  </div>
                </li>
              </ul>
            </li>
            <!-- Messages: style can be found in dropdown.less-->

            <!-- Notifications: style can be found in dropdown.less -->

          </ul>
        </div>
      </nav>
    </header>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Update Profile</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <form role="form" class="form-element">
            <div class="box-body">
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputUser" placeholder="User Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputMobile" placeholder="Mobile Number">
              </div>
            </div>
            <!-- /.box-body -->
          </form>
          <div class="modal-footer">
            <button type="submit" id="updateAgentBtn1" class="btn btn-info waves-effect">Save Details</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div id="myModal1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Update Password</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <form id="Password_Form" class="form-element">
            <div class="box-body">
              <div class="form-group">
                <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Old Passwords">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="newpassword" name="newpassword">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="reenterpassword" name="reenterpassword" >
              </div>
                 <!-- <button type="submit" class="btn btn-default">Submit</button> -->
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success" id="updatedpasswordbtn">Submit</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

  </html>
